<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles/style.css">
        <title>ASEAN BTE API</title>
</head>

<body>
        <p class="heading">List of available endpoints</p>

        <div>
                <p class="sub-heading">• Anime</p>
                <p class="endpoint"><code>» /api/v2/anime</code></p>
                <p class="description">└─ Description - Returns an random image about anime 🐱‍👤</p>
        </div>

        <div>
                <p class="sub-heading">• Animal</p>
                <p class="endpoint"><code>» /api/v2/cat</code></p>
                <p class="description">└─ Description - Returns an random image about cats 🐱</p>
                <p class="endpoint"><code>» /api/v2/dog</code></p>
                <p class="description">└─ Description - Returns an random image about dogs 🐶</p>
        </div>

        <div>
                <p class="sub-heading">• Builds</p>
                <p class="endpoint"><code>» /api/v2/builds</code></p>
                <p class="description">└─ Description - Returns an random image of ASEAN BTE minecraft builds 🔨</p>
        </div>

        <div>
                <p class="sub-heading">• Meme</p>
                <p class="endpoint"><code>» /api/v2/meme</code></p>
                <p class="description">└─ Description - Returns an random meme 😂👌</p>
        </div>
</body>

</html>